* {
    margin: 0;
    padding: 0;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    grid-gap: 20px 15px;
    padding-top: 150px;

    margin-left: 5%;
    margin-right: 5%;

}